/debian/files
/debian/tmp/
/debian/debhelper-build-stamp
/debian/.debhelper/
/debian/*.debhelper.log
/debian/*.substvars
/debian/metlibs-tsdata-dev/
/debian/libmetlibs-tsdata6-dbg/
/debian/metlibs-tsdata-core-dev/
/debian/metlibs-tsdata-fimex-dev/
/debian/metlibs-tsdata-hdf4-dev/
/debian/metlibs-tsdata-mora-qt5-dev/
/debian/metlibs-tsdata-wdb-dev/
/debian/libmetlibs-tsdata-core*/
/debian/libmetlibs-tsdata-fimex*/
/debian/libmetlibs-tsdata-hdf4-*/
/debian/libmetlibs-tsdata-mora-qt5-*/
/debian/libmetlibs-tsdata-wdb*/
/obj-x86_64-linux-gnu/
