Source: metlibs-tseries-tsdata
Priority: optional
Maintainer: MET Norway <diana@met.no>
Build-Depends: debhelper (>= 11),
 cmake (>= 3.10),
 pkg-config,
 metlibs-milogger-dev (>= 6.0.0),
 metlibs-puctools-dev (>= 6.0.0),
 metlibs-putools-dev (>= 8.0.0),
 metlibs-pudatatypes-dev (>= 6.0.0),
 metlibs-pumet-dev (>= 7.0.0),
 libcurl-dev | libcurl4-gnutls-dev,
 qtbase5-dev, qtbase5-dev-tools, qttools5-dev-tools,
 libboost-dev,
 libboost-date-time-dev,
 libboost-system-dev,
 libfimex-dev (>= 1.7.0)
Standards-Version: 3.9.2
Section: libs

Package: metlibs-tsdata-dev
Section: libdevel
Architecture: any
Depends: metlibs-tsdata-core-dev (= ${binary:Version}),
 metlibs-tsdata-fimex-dev (= ${binary:Version}),
 metlibs-tsdata-mora-qt5-dev (= ${binary:Version})
Description: MET Norway time series plotting lib -- all
 MET Norway time series plotting library.
 .
 This dependency package pulls in all functionality.

Package: libmetlibs-tsdata7-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libmetlibs-tsdata-core7 (= ${binary:Version})
Description: MET Norway time series plotting lib -- debug
 MET Norway time series plotting library.
 .
 This package provides debug information.

Package: metlibs-tsdata-core-dev
Section: libdevel
Architecture: any
Depends: libmetlibs-tsdata-core7 (= ${binary:Version}),
 metlibs-putools-dev (>= 8.0.0),
 metlibs-pumet-dev (>= 7.0.0),
 metlibs-pudatatypes-dev (>= 6.0.0),
 ${misc:Depends}
Breaks: metlibs-tsdata-dev (<< 5.5.0-1)
Replaces: metlibs-tsdata-dev (<< 5.5.0-1)
Description: MET Norway time series plotting lib -- core
 MET Norway time series plotting library.
 .
 This package provides the core functionality development files.

Package: libmetlibs-tsdata-core7
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: MET Norway time series plotting lib -- core
 MET Norway time series plotting library.
 .
 This package provides the core functionality shared library.

Package: metlibs-tsdata-fimex-dev
Section: libdevel
Architecture: any
Depends: metlibs-tsdata-core-dev (= ${binary:Version}),
 libmetlibs-tsdata-fimex7 (= ${binary:Version}),
 libfimex-dev (>= 0.65.0),
 libboost-date-time-dev,
 ${misc:Depends}
Breaks: metlibs-tsdata-dev (<< 5.5.0-1)
Replaces: metlibs-tsdata-dev (<< 5.5.0-1)
Description: MET Norway time series plotting lib -- fimex
 MET Norway time series plotting library.
 .
 This package provides the fimex datastream functionality.

Package: libmetlibs-tsdata-fimex7
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: MET Norway time series plotting lib -- fimex
 MET Norway time series plotting library.
 .
 This package provides the fimex datastream functionality shared
 library.

Package: metlibs-tsdata-mora-qt5-dev
Section: libdevel
Architecture: any
Depends: metlibs-tsdata-core-dev (= ${binary:Version}),
 libmetlibs-tsdata-mora-qt5-7 (= ${binary:Version}),
 ${misc:Depends}
Breaks: metlibs-tsdata-dev (<< 5.5.0-1)
Replaces: metlibs-tsdata-dev (<< 5.5.0-1)
Description: MET Norway time series plotting lib -- SMHI Mora
 MET Norway time series plotting library.
 .
 This package provides the SMHI Mora datastream functionality.

Package: libmetlibs-tsdata-mora-qt5-7
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: MET Norway time series plotting lib -- SMHI Mora
 MET Norway time series plotting library.
 .
 This package provides the SMHI Mora datastream functionality shared
 library.
